.header {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  width: 300px;
  color: #a3a5ae;
}
.header .header__title {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.header .header__subtitle {
  color: #4c4e61;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.header .header__paragraph {
  font-weight: 200;
}
@media screen and (min-width: 900px) {
  .header {
    width: 500px;
    margin-bottom: 70px;
  }
  .header .header__title {
    font-size: 34px;
  }
  .header .header__subtitle {
    font-size: 36px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 2px rgba(163,165,174,0.459);
  margin-bottom: 30px;
}
.card .card__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 260px;
}
.card .card__container .card__title {
  color: #4c4e61;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card .card__container .card__paragraph {
  color: #a3a5ae;
  font-size: 13.5px;
  font-weight: 200;
  line-height: 22px;
  margin-bottom: 30px;
}
.card .card__container .card__image {
  align-self: flex-end;
  width: 70px;
}
.supervisor {
  border-top: 5px solid #45d3d3;
}
.team {
  border-top: 5px solid #ed6e6e;
}
.karma {
  border-top: 5px solid #fcaf4a;
}
.calculator {
  border-top: 5px solid #549ef2;
}
@media screen and (min-width: 1200px) {
  main {
    height: 560px;
  }
  .supervisor {
    position: relative;
    right: 350px;
    top: 140px;
  }
  .team {
    bottom: 280px;
    position: relative;
  }
  .karma {
    bottom: 280px;
    position: relative;
  }
  .calculator {
    bottom: 700px;
    left: 350px;
    position: relative;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
