// -- Vars
// --- Primary colors
red = #ED6E6E
cyan = #45D3D3
orange = #FCAF4A
blue = #549EF2
// --- Neutral colors
darkBlue = #4C4E61
grayishBlue = #A3A5AE
lightGray = #FAFAFA

*
	margin 0
	padding 0
	font-size 15px
	font-family 'Poppins', sans-serif

.attribution
	font-size 11px
	text-align center
	a
		color #3E52A3
