// -- Vars
@import 'modules/_vars'
@import 'modules/_header'
@import 'modules/_cards'

*
	box-sizing border-box
	font-family 'Poppins', sans-serif
	font-size 15px
	margin 0
	padding 0

body
	background-color lightGray

.attribution
	font-size 11px
	text-align center
	a
		color #3E52A3
		text-decoration none
		&:hover
			text-decoration underline