main
	// background-color primaryRed
	display flex
	flex-direction column
	align-items center

.card
	width 320px
	// border 1px solid grayishBlue
	border-radius 10px
	box-shadow 0px 0px 25px 2px shadowBlue
	margin-bottom 30px
	.card__container
		display flex
		flex-direction column
		margin 0 auto
		margin-top 30px
		margin-bottom 30px
		width 260px
		.card__title
			color darkBlue
			font-size 20px
			font-weight 600
			margin-bottom 10px
		.card__paragraph
			color grayishBlue
			font-size 13.5px
			font-weight 200
			line-height 22px
			margin-bottom 30px
		.card__image
			align-self flex-end
			width 70px

.supervisor
	border-top 5px solid primaryCyan
.team
	border-top 5px solid primaryRed
.karma
	border-top 5px solid primaryOrange
.calculator
	border-top 5px solid primaryBlue

@media screen and (min-width: 1200px)
	main
		height 560px

	.supervisor
		position relative
		right 350px
		top 140px
	.team
		bottom 280px
		position relative
	.karma
		bottom 280px
		position relative
	.calculator
		bottom 700px
		left 350px
		position relative
// 	main
// 		display grid
// 		grid-template-columns repeat(3, 1fr)
// 		grid-template-rows repeat(2, 1fr)
	
// 	.team
// 		grid-column-start 2
// 		grid-column-end 3
// 	.calculator
// 		grid-column-start 3
// 		grid-column-end 4
// 	.karma
// 		grid-column-start 2
// 		grid-column-end 3