.header
	margin 0 auto
	margin-top 80px
	margin-bottom 80px
	text-align center
	width 300px
	color grayishBlue
	.header__title
		font-size 22px
		font-weight 300
		letter-spacing 0.5px
	.header__subtitle
		color darkBlue
		font-size 24px
		font-weight 600
		margin-bottom 8px
	.header__paragraph
		font-weight 200

@media screen and (min-width: 900px)
	.header
		width 500px
		margin-bottom 70px
		.header__title
			font-size 34px
		.header__subtitle
			font-size 36px