// --- Primary colors
primaryRed = #ED6E6E
primaryCyan = #45D3D3
primaryOrange = #FCAF4A
primaryBlue = #549EF2
// --- Neutral colors
darkBlue = #4C4E61
grayishBlue = #A3A5AE
shadowBlue = #A3A5AE75
lightGray = #FAFAFA